<div id="dayLeftPanel" class="col-xs-12 col-sm-8">
    <section id="dayDetails" class="dayContent col-xs-12">
        <header id="dateTitle" class="col-xs-12">
            <p>Events for {{dayName}},</p>
            <p><a href="/{{yearNum}}/{{addOne monthNum}}">{{month}}</a> {{monthDayNum}}</p>
        </header>
        <section id="eventList" class="col-xs-12">
            <ul>
                {{#each events}}
                <a href="/{{../yearNum}}/{{addOne ../monthNum}}/{{../monthDayNum}}/{{@index}}">
                    <li>{{this.title}}</li>
                </a>
                {{else}}
                    <li>No events for this day yet!</li>
                {{/each}}
            </ul>
        </section>
    </section>
    <a href="/addEvent">
        <section id='addEventButton' class="col-xs-4 col-sm-6 text-center">
            <p>Add Event</p>
        </section>
    </a>
</div>
<article id="dayPerspective" class="col-xs-12 col-sm-4">
    <p>This {{dayName}} is day {{startDiff}} of the year.</p>
    <p>There are {{endDiff}} days left in the year.</p>
</article>
<nav id="dayNav" class="col-xs-12 noPadding">
    <ul class="list-group">
        <a href="/{{yearNum}}/{{addOne monthNum}}/{{math monthDayNum "-" 1}}">
            <li class="navArrow col-sm-1 list-group-item text-center col-xs-1">
                <p><</p>
            </li>
        </a>
        <a href="/{{yearNum}}/{{addOne monthNum}}/{{math monthDayNum "-" 2}}">
            <li class="col-sm-2 list-group-item text-center hidden-xs">
                <p>{{addOne monthNum}}/{{math monthDayNum "-" 2}}</p>
            </li>
        </a>
        <a href="/{{yearNum}}/{{addOne monthNum}}/{{math monthDayNum "-" 1}}">
            <li class="col-sm-2 list-group-item text-center hidden-xs">
                <p>{{addOne monthNum}}/{{math monthDayNum "-" 1}}</p>
            </li>
        </a>
        <li class="col-sm-2 col-xs-10 list-group-item text-center" id="currDay">
            <p>{{addOne monthNum}}/{{monthDayNum}}</p>
        </li>
        <a href="/{{yearNum}}/{{addOne monthNum}}/{{math monthDayNum "+" 1}}">
            <li class="col-sm-2 list-group-item text-center hidden-xs">
                <p>{{addOne monthNum}}/{{math monthDayNum "+" 1}}</p>
            </li>
        </a>
        <a href="/{{yearNum}}/{{addOne monthNum}}/{{math monthDayNum "+" 2}}">
            <li class="col-sm-2 list-group-item text-center hidden-xs">
                <p>{{addOne monthNum}}/{{math monthDayNum "+" 2}}</p>
            </li>
        </a>
        <a href="/{{yearNum}}/{{addOne monthNum}}/{{math monthDayNum "+" 1}}">
            <li class="navArrow col-sm-1 list-group-item text-center col-xs-1">
                <p>></p>
            </li>
        </a>
    </ul>
</nav>