<div id="dayLeftPanel" class="col-xs-12 col-sm-8">
    <section id="dayDetails" class="dayContent col-xs-12">
        <header id="dateTitle" class="col-xs-12">
            <p>Events for {{dayName}},</p>
            <p>{{month}} {{monthDayNum}}</p>
        </header>
        <section id="eventList" class="col-xs-12">
            <ul>
                <li>Event</li>
                <li>Event</li>
                <li>Event</li>
            </ul>
        </section>
    </section>
    <a href="/">
        <section id='addEventButton' class="col-xs-4 col-sm-6 text-center">
            <p>Add Event</p>
        </section>
    </a>
</div>
<article id="dayPerspective" class="col-xs-12 col-sm-4">
    <p>This {{dayName}} is day {{startDiff}} of the year.</p>
    <p>There are {{endDiff}} days left in the year.</p>
</article>
<nav id="dayNav" class="col-xs-12 noPadding">
    <ul class="list-group">
        <li class="col-sm-1 list-group-item text-center col-xs-1">
            <a href="#"><p><</p></a>
        </li>
        <li class="col-sm-2 list-group-item text-center hidden-xs">
            <p>10/3</p>
        </li>
        <li class="col-sm-2 list-group-item text-center hidden-xs">
            <p>10/4</p>
        </li>
        <li class="col-sm-2 list-group-item text-center col-xs-10 ">
            <p>10/5</p>
        </li>
        <li class="col-sm-2 list-group-item text-center hidden-xs">
            <p>10/6</p>
        </li>
        <li class="col-sm-2 list-group-item text-center hidden-xs">
            <p>10/7</p>
        </li>
        <li class="col-sm-1 list-group-item text-center col-xs-1">
            <a href="#"><p>></p></a>
        </li>
    </ul>
</nav>