<section id="eventWrapper" class="col-xs-12 col-sm-6">
    {{#if (hasContent eventData)}}
    <header>{{eventData.title}}</header>
    <a href="/{{yearNum}}/{{monthNum}}/{{dayNum}}">
        <p class="calLink">{{monthNum}}/{{dayNum}}/{{yearNum}}</p>
    </a>
    <p>Location: {{eventData.location}}</p>
    <hr/>
    <p>Details:</p>
    <p>{{eventData.description}}</p>
    {{else}}
    <header>No events here yet!</header>
    <p>You should figure out what to do with your life on {{monthName}} {{dayNum}}, {{yearNum}}</p>
    {{/if}}
</section>
<div class="col-xs-12 col-sm-8" id="homeButton">
    <a href="/home" class="col-xs-3">
        <p>Home</p>
    </a>
</div>