<form name="eventForm" class="col-xs-12 col-sm-6" method="post" action="/addEvent/{{year}}/{{month}}" onsubmit="return validateForm();">
    <header>
        <span>New Event For {{monthName}}</span>
        <select id="day" name="day">
            {{#if noDayGiven}}
            <option selected disabled="true">##</option>
            {{/if}}
            {{#times dayCount}}
            <option {{formDayControl ../dayNum (addOne this)}} value="{{addOne this}}">{{addOne this}}</option>
            {{/times}}
        </select>
    </header>
    <div class="form-group row">
        <label for="formTitle" class="col-xs-12 col-form-label">Title</label>
        <input class="form-control" type="text" placeholder="Event title" id="formTitle"" name="title">
    </div>
    <div class="form-group row">
        <label for="formLocation" class="col-xs-12 col-form-label">Location</label>
        <input class="form-control" type="text" placeholder="Event location" id="formLocation" name="location">
    </div>
    <div class="form-group row">
        <label for="formDescription" class="col-xs-12 col-form-label">Description</label>
        <textarea class="form-control" type="text" placeholder="Some details about the event" id="formDescription" name="description"></textarea>
    </div>
    <div class="formErr">
        <p>Error!</p>
    </div>
    <div id="buttons">
        <button type="submit" class="btn btn-primary col-xs-3">Submit</button>
        <div class="col-xs-12 col-sm-8" id="homeButton">
            <a href="/home" class="col-xs-3">
                <p>Home</p>
            </a>
        </div>
    </div>
</form>