<div id="monthView">
    <nav id="month-nav" class="calCol-3 text-center">
        <span id="navContainer">
            <div id="prevMonth" class="col-xs-2">
                <a href="/{{yearNum}}/{{monthNum}}"><</a>
            </div>
            <span class="col-xs-8">{{ month }}</span>
            <div id="nextMonth" class="col-xs-2">
                <a href="/{{yearNum}}/{{math monthNum '+' 2}}">></a>
            </div>
        </span>
    </nav>
    <span class="calCol-2"></span>
    <a href="/addEvent/{{yearNum}}/{{addOne monthNum}}">
        <section id='addEventButton' class="calCol-2 text-center">
            <p>Add Event</p>
        </section>
    </a>
    <header class="calRow dayTitleContainer hidden-sm-down">
        {{#each weekDays}}
        <div class="calCol-1">{{this}}</div>
        {{else}}
        <div class="bg-danger calCol-7">Problem getting days of week</div>
        {{/each}}
    </header>
    <div class="calContainer" id="monthContainer">
        <!--
            Something like if(this.events){class = hidden-sm}
            -->
        <section id="calendarViewport">
            <!--
                Maybe loop by number of days, set the left margin thing for the
                first, then loop until the end of the month and it should auto-wrap
                each 7
            -->
            <div class="calRow">
                {{#times weekStartIndentSize}}
                <div class="calCol-1"></div>
                {{/times}}
                {{#each monthData}}
                <div class="dayContainer calCol-1" id="day_{{../yearNum}}_{{addOne ../monthNum}}_{{addOne @index}}" data-childCount="{{childCount this}}">
                    <div class="dayContent">
                        <a href="/{{../yearNum}}/{{addOne ../monthNum}}/{{addOne @index}}">
                            <header>
                                <p class="desktopDateFormat">
                                    {{addOne @index}}
                                </p>
                                <p class="mobileDateFormat">
                                    {{indexOf ../weekDays (math (math @index "+" 6) "%" 7)}}, {{ ../month }} {{addOne @index}}
                                </p>
                            </header>
                        </a>
                        <ul class="row list-group">
                            {{#each this}}
                            <a href="/{{../../yearNum}}/{{addOne ../../monthNum}}/{{addOne @../index}}/{{@index}}">
                                <li class="col-xs-12 list-group-item">
                                    {{this.title}}
                                </li>
                            </a>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>
    </div>
</div>